.container-fluid {
  padding: 5% 12% 5% 12%;
}

#admit,
#operation,
#discharge {
  display: none;
}
h2 {
  text-align: center;
  color: black;
  background-color: greenyellow;
  padding-top: 1%;
  padding-bottom: 1%;
}
